@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #ffffff; /* Light background */
	--foreground-color: #262626; /* Light text */
	--background-color-muted: color-mix(in srgb, var(--background-color), var(--foreground-color) 10%);
	--accent-color: #0f766e; /* Accent color */
	--background-variant-color: #0a0a0a;
	--accent-color-dark: color-mix(in srgb, var(--accent-color), black 40%);
	--accent-color-soft: color-mix(in srgb, var(--accent-color), white 20%);
	--accent-color-light: color-mix(in srgb, var(--accent-color), white 90%);
	--input-color: color-mix(in srgb, var(--background-color), var(--foreground-color) 30%);
}

.dark {
	--background-color: #0a0a0a; /* Default dark background */
	--background-color-muted: color-mix(in srgb, var(--background-color), var(--foreground-color) 10%);
	--background-variant-color: #0a0a0a;
	--foreground-color: #ffffff; /* Default dark text */
}

@layer base {
	html {
		@apply bg-[var(--background-color)] text-[var(--foreground-color)];
	}
}

@layer components {
	input:focus,
	textarea:focus,
	select:focus,
	button:focus,
	a:focus,
	[role='button']:focus {
		@apply outline-none ring-0 ring-offset-0;
	}

	input:focus,
	textarea:focus,
	select:focus {
		@apply border-neutral-800;
	}

	[data-background='dark'] {
		@apply bg-neutral-100 dark:bg-[var(--background-variant-color)];
	}
}

@layer utilities {
	a {
		@apply transition-colors no-underline;
	}

	.prose iframe {
		aspect-ratio: 16 / 9;
		height: auto;
		width: 100%;
	}
}
